<a href="https://colab.research.google.com/github/blaulicht7/Python_Basic/blob/main/Assessment_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/blaulicht7/Complete-Python-3-Bootcamp/blob/master/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: 23, 45, 36

Strings: 'Hello', 'Orange'

Lists: lists use ['1','2','3']

Tuples: tuples use ('3', '4', '5')

Dictionaries: use {'6', '7', '8'}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
1/4 + (40*3) + 6**2 - 56

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [4]:
4*(6+5)

44

In [5]:
4*6+5

29

In [6]:
4+6*5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
*The type is float*

In [7]:
type(3+1.5+4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [13]:
# Square root: **(0.5)
36**0.5

6.0

In [9]:
# Square: **
6**2

36

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [14]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [19]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [17]:
s ='hello'
# Print out the 'o'

# Method 1:
s[-1]

'o'

In [18]:
# Method 2:
s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [23]:
# Method 1:
mylist = [0,0,0]
mylist

[0, 0, 0]

In [24]:
# Method 2:
a = [0,0]
b = [0]
x = a + b
x

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [26]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [28]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [29]:
d = {'simple_key':'hello'}

# Grab 'hello'
d['simple_key']

'hello'

In [30]:
d = {'k1':{'k2':'hello'}}

# Grab 'hello'
d['k1']['k2']

'hello'

In [37]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [44]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
# Grab 'hello'
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
*Not, in dictionary the orden doesn't matter, that's usually for list*

## Tuples

What is the major difference between tuples and lists?<br><br>
*Tuples are immutable, you can't change an element, but for list you can change the value for the element, list are mutable.*

How do you create a tuple?<br><br>
Using ( ), for example
*t = (1, 2 ,3 ,'one')*

In [45]:
t = (1,2,3,'one')

In [46]:
type(t)

tuple

## Sets

What is unique about a set?<br><br>
*In sets you have a one value for elements, if you put n times the value 2, it only consider the first*

For example: N = [1,2,3,3,3,3,3,3,4]

set(N)

N = {1,2,3,4}

The number 3, which is repeat 6 times, the set N only consider one 3.

Use a set to find the unique values of the list below:

In [48]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [56]:
a=3 
b=4

In [59]:
(a == b)

False

In [60]:
(a != b)

True

In [61]:
(a > b)

False

In [64]:
(a < b)

True

In [63]:
(a >= b)

False

In [62]:
(a <= b)

True

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [49]:
# Answer before running cell = False
2 > 3

False

In [50]:
# Answer before running cell = False
3 <= 2

False

In [51]:
# Answer before running cell = False
3 == 2.0

False

In [52]:
# Answer before running cell = TRUE
3.0 == 3

True

In [54]:
# Answer before running cell =FALSE
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

*FALSE*

In [65]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [66]:
l_one[2][0]

3

In [67]:
l_two[2]['k1']

4

## Great Job on your first assessment!