<a href="https://colab.research.google.com/github/blaulicht7/Python_Basic/blob/main/Funciones_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Funciones en Python*

Las funciones son esenciales en cualquier lenguaje de programación. Una función es un conjunto de instrucciones que se utilizan de forma repetida porque son complejas.

* Método se refiere a una función que forma parte de una clase se que debe ser accedido como parte de esa clase.

* Las clases son como los elementos que viven dentro de una librería.
* Se puede decir que todos los métodos son funciones pero no todas las funciones son métodos.

In [7]:
#Función suma
def suma(x,y):
  return x+y

In [4]:
#Usando métodos de la clase y suma
class operaciones(object): 
  def suma(self, x, y):
    self.resultado = x+y
    return self.resultado

In [2]:
suma(2,3)

5

In [5]:
operInstance = operaciones()
operInstance.suma(2,3)

5

# *Creando una función simple*

In [8]:
def saludar():
  print("Hola estoy programando!")
  return

In [9]:
saludar()

Hola estoy programando!

In [10]:
def saludar():
  name = str(input("Introduce tu nombre: "))
  if name:
    print("Hola "+name)
  else:
    print("Hola estoy programando!")
  return

In [14]:
saludar()

Introduce tu nombre: Jeane
Hola Jeane

In [15]:
suma(2,3)*5

25

In [17]:
#La tupla devuelve como resultado un conjunto de números, ya no solo un valor individual
def sumaresta(x,y):
  suma = x+y
  resta = x-y
  return(suma, resta)

In [18]:
sumaresta(2,3)

(5, -1)

# *Funciones con números variables*

In [19]:
#No tiene un número definido de objetos, en este caso, se puede sumar todos los que se puedan
def suma(*args):
  return sum(args)

In [20]:
suma(1,2)

3

In [21]:
suma(1,2,3,4)

10

In [22]:
suma(1,2,3,4,5,6,7,8,9,10)

55

In [26]:
#Dentro de una función se pueden crear variables 
# total = total + d**2
# versión reducida es total+= d**2
def sumacuadrado(*datos):
  total=0
  for d in datos:
    total = total + d**2
  return total

In [24]:
sumacuadrado(1,2,3)

14

In [25]:
sumacuadrado(2.5,3.6,8.9,-2,12.67)

262.9489

# *Funciones anónimas*

Son también funciones lambda, se declaran con lambda, luego se coloca una variable, y luego la expresión.

In [27]:
doble = lambda x: x*2

In [28]:
doble (4)

8

In [29]:
cuadrado = lambda x: x**2

In [30]:
cuadrado(5)

25

In [31]:
suma = lambda x, y: x+y

In [32]:
suma(2,3)

5

In [34]:
from functools import reduce

In [35]:
data = [1,2,3,4,5,6,7,8,9,10]

In [39]:
#Filter, filtra los datos
filtered_data = list(filter(lambda x: (x*2>8),data))

In [40]:
filtered_data

[5, 6, 7, 8, 9, 10]

In [41]:
#Map mapea los datos y los transforma dependiendo de la función
mapped_data= list(map(lambda x: x*2, data))

In [42]:
mapped_data

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [46]:
#Reduce, reduce valores
reduced_data = reduce(lambda x, y: x+y, data)

In [45]:
reduced_data

55